


$color-blue: hsl(179, 62%, 43%);
$color-yellow: hsl(71, 73%, 54%);
$color-GrayishBlue: hsl(218, 22%, 67%);
$color-LightGray: hsl(204, 43%, 93%);

$font: 'Karla', sans-serif;



//$font : (
    //big: 700,
    //normal: 400,
   // ); //Es
    
    //$font-big: bold;
    //$font-normal: 400;
